@model IEnumerable<DeviceShop.Models.ProductType>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class=" text-info">Product Type List</h2>
    </div>
    <div class="col-3" >
        <a asp-action="Create" class="btn btn-info"><i><i class="fas fa-plus"></i></i>&nbsp; New ProdcutType</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border" style="width:50%">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c => c.ProductsType)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ProductsType</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>

